fastapi==0.104.1
uvicorn[standard]==0.24.0
groq>=0.9.0
pydantic==2.5.0
python-multipart==0.0.6
httpx>=0.25.0

# PyTorch
torch==2.1.0

# ML - Laissez pip installer les versions compatibles automatiquement
sentence-transformers
transformers
tokenizers
huggingface-hub

# FAISS
faiss-cpu

# Numpy
numpy<2.0.0
